In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Wrangling

### Data Cleaning

Loading Datasets

In [3]:
fao_df = pd.read_csv('data/FAO.csv', encoding='ISO-8859-1')
fao_df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [4]:
len(fao_df)

21477

In [5]:
faostat_df = pd.read_csv('data/FAOSTAT.csv', encoding='ISO-8859-1')
faostat_df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,35530.081,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
1,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,2930.187,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
2,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,41318.142,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
3,OA,Annual population,5,American Samoa,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,55.641,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
4,OA,Annual population,6,Andorra,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,76.965,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."

In [6]:
len(fao_df)

21477

In [7]:
fao_df.isnull().T.any().T.sum()

3539

In [8]:
fao_null_values = {}

for column in fao_df.columns:
    if fao_df[column].isnull().sum() > 0:
        fao_null_values[column] = fao_df[column].isnull().sum()
    
fao_null_values

{'Y1961': 3539,
 'Y1962': 3539,
 'Y1963': 3539,
 'Y1964': 3539,
 'Y1965': 3539,
 'Y1966': 3539,
 'Y1967': 3539,
 'Y1968': 3539,
 'Y1969': 3539,
 'Y1970': 3539,
 'Y1971': 3539,
 'Y1972': 3539,
 'Y1973': 3539,
 'Y1974': 3539,
 'Y1975': 3539,
 'Y1976': 3539,
 'Y1977': 3539,
 'Y1978': 3539,
 'Y1979': 3539,
 'Y1980': 3539,
 'Y1981': 3539,
 'Y1982': 3539,
 'Y1983': 3539,
 'Y1984': 3539,
 'Y1985': 3539,
 'Y1986': 3539,
 'Y1987': 3539,
 'Y1988': 3539,
 'Y1989': 3539,
 'Y1990': 3415,
 'Y1991': 3415,
 'Y1992': 987,
 'Y1993': 612,
 'Y1994': 612,
 'Y1995': 612,
 'Y1996': 612,
 'Y1997': 612,
 'Y1998': 612,
 'Y1999': 612,
 'Y2000': 349,
 'Y2001': 349,
 'Y2002': 349,
 'Y2003': 349,
 'Y2004': 349,
 'Y2005': 349,
 'Y2006': 104,
 'Y2007': 104,
 'Y2008': 104,
 'Y2009': 104,
 'Y2010': 104,
 'Y2011': 104}

In [9]:
fao_df.columns

Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

In [10]:
fao_df[fao_df.isnull().any(axis=1)]

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
679,ARM,1,Armenia,2511,Wheat and products,5521,Feed,1000 tonnes,40.07,45.04,...,69.0,59.0,46.0,67.0,57.0,56.0,61.0,65.0,92,93
680,ARM,1,Armenia,2511,Wheat and products,5142,Food,1000 tonnes,40.07,45.04,...,490.0,433.0,445.0,412.0,428.0,391.0,372.0,386.0,377,389
681,ARM,1,Armenia,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,40.07,45.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
682,ARM,1,Armenia,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,40.07,45.04,...,11.0,14.0,17.0,15.0,13.0,13.0,11.0,9.0,9,9
683,ARM,1,Armenia,2513,Barley and products,5521,Feed,1000 tonnes,40.07,45.04,...,68.0,57.0,33.0,86.0,76.0,102.0,86.0,124.0,121,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20777,UZB,235,Uzbekistan,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,41.38,64.59,...,3569.0,3709.0,3726.0,3830.0,3726.0,3743.0,3742.0,3770.0,3782,3785
20778,UZB,235,Uzbekistan,2960,"Fish, Seafood",5521,Feed,1000 tonnes,41.38,64.59,...,2.0,1.0,2.0,1.0,2.0,5.0,5.0,7.0,10,20
20779,UZB,235,Uzbekistan,2960,"Fish, Seafood",5142,Food,1000 tonnes,41.38,64.59,...,7.0,8.0,7.0,8.0,12.0,13.0,15.0,19.0,22,22
20780,UZB,235,Uzbekistan,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,41.38,64.59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
20781,UZB,235,Uzbekistan,2928,Miscellaneous,5142,Food,1000 tonnes,41.38,64.59,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1

In [11]:
fao_df[fao_df.isnull().any(axis=1)]

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
679,ARM,1,Armenia,2511,Wheat and products,5521,Feed,1000 tonnes,40.07,45.04,...,69.0,59.0,46.0,67.0,57.0,56.0,61.0,65.0,92,93
680,ARM,1,Armenia,2511,Wheat and products,5142,Food,1000 tonnes,40.07,45.04,...,490.0,433.0,445.0,412.0,428.0,391.0,372.0,386.0,377,389
681,ARM,1,Armenia,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,40.07,45.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
682,ARM,1,Armenia,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,40.07,45.04,...,11.0,14.0,17.0,15.0,13.0,13.0,11.0,9.0,9,9
683,ARM,1,Armenia,2513,Barley and products,5521,Feed,1000 tonnes,40.07,45.04,...,68.0,57.0,33.0,86.0,76.0,102.0,86.0,124.0,121,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20777,UZB,235,Uzbekistan,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,41.38,64.59,...,3569.0,3709.0,3726.0,3830.0,3726.0,3743.0,3742.0,3770.0,3782,3785
20778,UZB,235,Uzbekistan,2960,"Fish, Seafood",5521,Feed,1000 tonnes,41.38,64.59,...,2.0,1.0,2.0,1.0,2.0,5.0,5.0,7.0,10,20
20779,UZB,235,Uzbekistan,2960,"Fish, Seafood",5142,Food,1000 tonnes,41.38,64.59,...,7.0,8.0,7.0,8.0,12.0,13.0,15.0,19.0,22,22
20780,UZB,235,Uzbekistan,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,41.38,64.59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
20781,UZB,235,Uzbekistan,2928,Miscellaneous,5142,Food,1000 tonnes,41.38,64.59,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1

In [12]:
pd.set_option('display.max_columns', None)
fao_df.iloc[[679]]

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
679,ARM,1,Armenia,2511,Wheat and products,5521,Feed,1000 tonnes,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,21.0,24.0,25.0,10.0,32.0,58.0,55.0,78.0,20.0,20.0,42.0,69.0,59.0,46.0,67.0,57.0,56.0,61.0,65.0,92,93

In [13]:
faostat_df.isnull().T.any().T.sum()

0

In [14]:
faostat_null_values = {}

for column in faostat_df.columns:
    if faostat_df[column].isnull().sum() > 0:
        faostat_null_values[column] = faostat_df[column].isnull().sum()
    
faostat_null_values

{}

In [15]:
num_unique_vals = {}

for column in fao_df.columns:
    num_unique_vals[column] = fao_df[column].nunique()
    
num_unique_vals

{'Area Abbreviation': 169,
 'Area Code': 174,
 'Area': 174,
 'Item Code': 117,
 'Item': 115,
 'Element Code': 2,
 'Element': 2,
 'Unit': 1,
 'latitude': 173,
 'longitude': 174,
 'Y1961': 1197,
 'Y1962': 1215,
 'Y1963': 1209,
 'Y1964': 1236,
 'Y1965': 1259,
 'Y1966': 1263,
 'Y1967': 1283,
 'Y1968': 1300,
 'Y1969': 1309,
 'Y1970': 1322,
 'Y1971': 1351,
 'Y1972': 1360,
 'Y1973': 1374,
 'Y1974': 1388,
 'Y1975': 1405,
 'Y1976': 1410,
 'Y1977': 1411,
 'Y1978': 1463,
 'Y1979': 1473,
 'Y1980': 1477,
 'Y1981': 1469,
 'Y1982': 1508,
 'Y1983': 1528,
 'Y1984': 1540,
 'Y1985': 1538,
 'Y1986': 1563,
 'Y1987': 1592,
 'Y1988': 1613,
 'Y1989': 1622,
 'Y1990': 1621,
 'Y1991': 1632,
 'Y1992': 1747,
 'Y1993': 1785,
 'Y1994': 1796,
 'Y1995': 1796,
 'Y1996': 1807,
 'Y1997': 1810,
 'Y1998': 1844,
 'Y1999': 1859,
 'Y2000': 1892,
 'Y2001': 1881,
 'Y2002': 1909,
 'Y2003': 1935,
 'Y2004': 1944,
 'Y2005': 1963,
 'Y2006': 1987,
 'Y2007': 1994,
 'Y2008': 2028,
 'Y2009': 2029,
 'Y2010': 2046,
 'Y2011': 2081,
 'Y2012': 2084,
 'Y2013': 2107}

In [16]:
fstat_num_unique_vals = {}

for column in faostat_df.columns:
    fstat_num_unique_vals[column] = faostat_df[column].nunique()
    
fstat_num_unique_vals

{'Domain Code': 1,
 'Domain': 1,
 'Area Code': 231,
 'Area': 231,
 'Element Code': 1,
 'Element': 1,
 'Item Code': 1,
 'Item': 1,
 'Year Code': 1,
 'Year': 1,
 'Unit': 1,
 'Value': 231,
 'Flag': 1,
 'Flag Description': 1,
 'Note': 1}

In [17]:
len(faostat_df)

231

In [18]:
faostat_df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,35530.081,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
1,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,2930.187,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
2,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,41318.142,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
3,OA,Annual population,5,American Samoa,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,55.641,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
4,OA,Annual population,6,Andorra,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,76.965,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,OA,Annual population,205,Western Sahara,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,552.628,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
227,OA,Annual population,249,Yemen,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,28250.420,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
228,OA,Annual population,251,Zambia,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,17094.130,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
229,OA,Annual population,181,Zimbabwe,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,16529.904,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."
230,OA,Annual population,351,China,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2017,2017,1000 persons,1441131.303,X,International reliable sources,"UNDESA, Population Division Ã¢Â€Â“ World Populati..."

In [19]:
faostat_df[['Area Code', 'Area', 'Value']]

     Area Code            Area        Value
0            2     Afghanistan    35530.081
1            3         Albania     2930.187
2            4         Algeria    41318.142
3            5  American Samoa       55.641
4            6         Andorra       76.965
..         ...             ...          ...
226        205  Western Sahara      552.628
227        249           Yemen    28250.420
228        251          Zambia    17094.130
229        181        Zimbabwe    16529.904
230        351           China  1441131.303

[231 rows x 3 columns]

In [20]:
fao_df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,2154.0,1819.0,1963.0,2215.0,2310.0,2335.0,2434.0,2512.0,2282.0,2454.0,2443.0,2129.0,2133.0,2068.0,1994.0,1851.0,1791.0,1683.0,2194.0,1801.0,1754.0,1640.0,1539.0,1582.0,1840.0,1855.0,1853.0,2177.0,2343.0,2407.0,2463.0,2600.0,2668.0,2776.0,3095.0,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,76.0,76.0,76.0,76.0,76.0,75.0,71.0,72.0,73.0,74.0,71.0,70.0,72.0,76.0,77.0,80.0,60.0,65.0,64.0,64.0,60.0,55.0,53.0,51.0,48.0,46.0,46.0,47.0,46.0,43.0,43.0,40.0,50.0,46.0,41.0,44.0,50.0,48.0,43.0,26.0,29.0,70.0,48.0,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,237.0,237.0,237.0,238.0,238.0,237.0,225.0,227.0,230.0,234.0,223.0,219.0,225.0,240.0,244.0,255.0,185.0,203.0,198.0,202.0,189.0,174.0,167.0,160.0,151.0,145.0,145.0,148.0,145.0,135.0,132.0,120.0,155.0,143.0,125.0,138.0,159.0,154.0,141.0,84.0,83.0,122.0,144.0,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [21]:
len(fao_df)

21477

In [22]:
merged_df = fao_df.merge(
    faostat_df[['Area Code', 'Area', 'Value']], 
    how='left', 
    on=['Area Code', 'Area'])
merged_df

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Value
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,1904.0,1666.0,1950.0,2001.0,1808.0,2053.0,2045.0,2154.0,1819.0,1963.0,2215.0,2310.0,2335.0,2434.0,2512.0,2282.0,2454.0,2443.0,2129.0,2133.0,2068.0,1994.0,1851.0,1791.0,1683.0,2194.0,1801.0,1754.0,1640.0,1539.0,1582.0,1840.0,1855.0,1853.0,2177.0,2343.0,2407.0,2463.0,2600.0,2668.0,2776.0,3095.0,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895,35530.081
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,183.0,182.0,220.0,220.0,195.0,231.0,235.0,238.0,213.0,205.0,233.0,246.0,246.0,255.0,263.0,235.0,254.0,270.0,259.0,248.0,217.0,217.0,197.0,186.0,200.0,193.0,202.0,191.0,199.0,197.0,249.0,218.0,260.0,319.0,254.0,326.0,347.0,270.0,372.0,411.0,448.0,460.0,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422,35530.081
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,76.0,76.0,76.0,76.0,76.0,75.0,71.0,72.0,73.0,74.0,71.0,70.0,72.0,76.0,77.0,80.0,60.0,65.0,64.0,64.0,60.0,55.0,53.0,51.0,48.0,46.0,46.0,47.0,46.0,43.0,43.0,40.0,50.0,46.0,41.0,44.0,50.0,48.0,43.0,26.0,29.0,70.0,48.0,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360,35530.081
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,237.0,237.0,237.0,238.0,238.0,237.0,225.0,227.0,230.0,234.0,223.0,219.0,225.0,240.0,244.0,255.0,185.0,203.0,198.0,202.0,189.0,174.0,167.0,160.0,151.0,145.0,145.0,148.0,145.0,135.0,132.0,120.0,155.0,143.0,125.0,138.0,159.0,154.0,141.0,84.0,83.0,122.0,144.0,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89,35530.081
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,210.0,214.0,216.0,216.0,216.0,235.0,232.0,236.0,200.0,201.0,216.0,228.0,231.0,234.0,240.0,228.0,234.0,228.0,226.0,210.0,199.0,192.0,182.0,173.0,170.0,154.0,148.0,137.0,144.0,126.0,90.0,141.0,150.0,159.0,108.0,90.0,99.0,72.0,35.0,48.0,89.0,63.0,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200,35530.081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,230.0,232.0,234.0,238.0,234.0,231.0,231.0,248.0,264.0,255.0,306.0,322.0,343.0,337.0,358.0,379.0,397.0,380.0,390.0,393.0,391.0,399.0,396.0,385.0,381.0,372.0,384.0,366.0,381.0,374.0,313.0,368.0,297.0,265.0,222.0,290.0,339.0,460.0,364.0,380.0,439.0,360.0,386.0,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451,16529.904
21473,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,27.0,25.0,27.0,23.0,27.0,29.0,28.0,28.0,25.0,25.0,25.0,23.0,23.0,20.0,19.0,11.0,8.0,7.0,5.0,6.0,7.0,6.0,6.0,12.0,0.0,6.0,3.0,4.0,3.0,0.0,1.0,1.0,0.0,2.0,9.0,7.0,7.0,4.0,7.0,7.0,5.0,1.0,0.0,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15,16529.904
21474,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,6.0,6.0,6.0,8.0,9.0,10.0,10.0,10.0,10.0,9.0,9.0,10.0,10.0,9.0,8.0,8.0,9.0,10.0,12.0,20.0,20.0,20.0,15.0,17.0,18.0,20.0,20.0,23.0,24.0,26.0,22.0,24.0,33.0,38.0,39.0,39.0,37.0,29.0,25.0,26.0,18.0,16.0,14.0,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40,16529.904
21475,ZWE,181,Zimbabwe,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,16529.904
21476,ZWE,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,16529.904

In [23]:
fao_df[fao_df.isnull().any(axis=1)]

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
679,ARM,1,Armenia,2511,Wheat and products,5521,Feed,1000 tonnes,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,21.0,24.0,25.0,10.0,32.0,58.0,55.0,78.0,20.0,20.0,42.0,69.0,59.0,46.0,67.0,57.0,56.0,61.0,65.0,92,93
680,ARM,1,Armenia,2511,Wheat and products,5142,Food,1000 tonnes,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,539.0,544.0,476.0,497.0,455.0,503.0,495.0,489.0,481.0,461.0,429.0,443.0,490.0,433.0,445.0,412.0,428.0,391.0,372.0,386.0,377,389
681,ARM,1,Armenia,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
682,ARM,1,Armenia,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,19.0,17.0,10.0,10.0,7.0,11.0,10.0,10.0,9.0,13.0,12.0,11.0,14.0,17.0,15.0,13.0,13.0,11.0,9.0,9,9
683,ARM,1,Armenia,2513,Barley and products,5521,Feed,1000 tonnes,40.07,45.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.0,63.0,58.0,61.0,79.0,31.0,48.0,46.0,15.0,65.0,40.0,53.0,68.0,57.0,33.0,86.0,76.0,102.0,86.0,124.0,121,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20777,UZB,235,Uzbekistan,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,41.38,64.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3211.0,3403.0,3392.0,3203.0,3245.0,3319.0,3435.0,3379.0,3418.0,3419.0,3522.0,3521.0,3569.0,3709.0,3726.0,3830.0,3726.0,3743.0,3742.0,3770.0,3782,3785
20778,UZB,235,Uzbekistan,2960,"Fish, Seafood",5521,Feed,1000 tonnes,41.38,64.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,5.0,5.0,7.0,10,20
20779,UZB,235,Uzbekistan,2960,"Fish, Seafood",5142,Food,1000 tonnes,41.38,64.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,21.0,15.0,15.0,7.0,12.0,13.0,11.0,10.0,8.0,7.0,6.0,7.0,8.0,7.0,8.0,12.0,13.0,15.0,19.0,22,22
20780,UZB,235,Uzbekistan,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,41.38,64.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
20781,UZB,235,Uzbekistan,2928,Miscellaneous,5142,Food,1000 tonnes,41.38,64.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4.0,0.0,5.0,5.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1